
// Este mixin ya lo tenía creado, pero voy a crear otro diferente para el header, el main, los asides y el footer.

@mixin bordersgeneralesvelzunalv() {
    border: 1px solid black;
    box-sizing: border-box;
}

@mixin bordescolorvelzunalv() {
    border: 1px solid greenyellow;
    box-sizing: border-box;
}
.contenedorvelzunalv {
    width: 90vw;
    display: grid;
    margin: 0 auto;
    min-height: 25vh;
    grid-template-columns: 60% 25% 15%;
    @include bordersgeneralesvelzunalv();

    header {
        grid-column: 1 / 4;
        min-height: 25vh;
        background-color: aquamarine;
        @include bordescolorvelzunalv();

    }
    main {
        grid-column: 1 /2;
        min-height: 60vh;
        background-color: bisque;
        @include bordescolorvelzunalv();
    }
    .aside1 {
        grid-column: 2 /3;
        min-height: 60vh;
        background-color: plum;
        @include bordescolorvelzunalv();
    }
    .aside2 {
        grid-column: 3 / 4;
        min-height: 60vh;
        background-color: yellow;
        @include bordescolorvelzunalv();
    }
    footer {
        grid-column: 1 / 4;
        min-height: 15vh;
        background-color: blue;
        @include bordescolorvelzunalv();
    }
    @media all and (max-width: 630px) {
        main, .aside1, .aside2 {
            grid-column: 1/4;
        }
    }
}
.imagenesvelzunalv {
    object-fit: scale-down;
    width: 50%;
    height: 50%; 
    border: solid black 3px;
    border-radius: 5%;
}
